.cross {
    cursor: pointer; 
    cursor: hand;
    float: right;
    margin-right: 5px;
}

.linkBrick{
    float:left;
    margin: 3px;
    width:24%;
}

.linkBrick-header{
    padding-top: 1px;
}

.linkBrick-header > img {
    float: left;
    margin: 9px 6px 0px 0px;
}

.linkBrick-body{
}

.linkBrick-footer{
}

.plusLine{
    height: 20px;
}