<!DOCTYPE html>
<html ng-app="massiveApp">
    <head>
        <title>Massive is massive</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/site.css">
        <link rel="stylesheet" type="text/css" href="css/tags.css">
    </head>

    <body ng-controller="LinksListCtrl">
        <nav class="navbar navbar-default" role="navigation">
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default "><span class="glyphicon glyphicon-refresh"></span></button>
                    </span>
                </div>
            </form>
            <div class="navbar-btn navbar-right">
                <button class="btn btn-default" ng-click="open()">Add link</button>
            </div>
        </nav>

<!--         <div>
            <div ng-repeat="link in links | filter:search" class="linkBrick panel panel-default">
                <div class="panel-heading linkBrick-header">
                    <span class="glyphicon glyphicon-remove cross" ng-click="remove(link._id)"></span> 
                    <img ng-if="link.favicon" ng-src="/ico/{{link._id}}"></img>
                    <a href="{{link.url}}">
                        <h5>
                            {{link.title || link.url}}
                        </h5>
                    </a>
                </div>
                <div class="panel-body">
                    <div ng-tag ng-model="link"></div>
                </div>
            </div>
        </div> -->

       <table class="table table-condensed">
            <tbody>
                <tr ng-repeat="link in links | filter:search">
                    <td>
                        <span class="glyphicon glyphicon-remove cross" ng-click="remove(link._id)"></span>
                    </td>
                    <td>
                        <img ng-if="link.favicon" ng-src="/ico/{{link._id}}"></img>
                    </td>
                    <td>
                        <a href="{{link.url}}">{{link.title || link.url}}</a>
                    </td>
                    <td>
                        <div ng-tag ng-model="link"></div>
                    </td>
                </tr>
            </tbody>

        </table>
    </body>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <!--<script src="js/angular-route.js"></script>-->
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</html>